<div class="page">
  <h1 style="color: white;">J&A Cocktails</h1>
  <div class="header">
    <%= link_to "Create a new cocktail ðŸ¸", new_cocktail_path, class:"btn btn-gradient"%>
  </div>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
</div>





