.content {
  margin-top: 20px;
  // background-color:$hasard;
  text-align: center;
  margin-left: 44px;
  margin-bottom: 44px;
  font-family: $title-font;
}

.content-cocktail {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

a {
  color: $dark-orange;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.img-coktail, .content-cocktail-ingredients {
  width: 50%;
}

.content-cocktail-ingredients {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: column;
}

.ingredient {
  font-size: 30px;
}

.links {
  font-size: 20px;
}


.img-cocktail img {
  height: calc(100vh - 122px);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);;
}
