.content {
  margin-top: 20px;
  // background-color:$hasard;
  text-align: center;
}

a {
  color: $dark-orange;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.content-cocktail {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

.content-cocktail-ingredients {
  margin-left: 25px;
}

// .img-cocktail {
//   width: 10%;
//   height: 10%;
// }

// .img-cocktail img {
//   width: 10%;
//   height: 10%;
// }
