label {
  color: $dark-orange;
  font-size: 25px;
}

input {
  text-decoration: none;
  padding: 5px 10px;
  background-color: $dark-orange;
  border: 1px black solid;
  border-radius: 4px;
  color: black;
  transition: .9s ease-out;

  &:hover {
    text-decoration: none;
    background-color: black;
    border-color: $dark-orange;
    color: $dark-orange;
    transition: .9s ease-out;
  }
}
